* {
  box-sizing: border-box;
}

span {
  margin-left: 20px;
  font-weight: 300;
}

.App {
  text-align: center;
}

.Header {
  color: #443e3e;
  text-shadow: 1px 1px 5px #fff;
}

/* write your parent styles in here for your App.js */
.list-container {
  width: 600px;
  margin: 0 auto;
  color: white;
}

.character-card {
  background: rgba(0, 0, 0, 0.5);
  margin-bottom: 40px;
}

.character-name {
  background: rgba(0, 0, 0, 0.6);
  padding: 15px 0;
}

.character-props {
  padding: 40px;
}

.character-props p {
  margin-bottom: 20px;
}